$breakpoints: (
    xs: 576px, //Extra small devices (phones, 0px and up)
    sm: 768px, // Small devices (tablets, 576px and up)
    md: 1024px, // Medium devices (small laptops, 768px and up)
    lg: 1366px, // Large devices (laptops/desktops, 992px and up)
    xl: 2000px // 2k and up
);