  <app-loader></app-loader>
  <div #horizontalScrollWrapper class="scroll-container">
    <div id="scrollable" #horizontalScrollContainer class="home-sticky-wrap">
      <div #homeBanner class="home-banner scroll-section mobile-scroll-section">
        <div class="home-banner-content content">
          <div class="home-banner-header">
            @for (item of navItems; track item.label) {
              <div class="home-banner-header-item" (click)="navigateToSection(item.link)">
                <div class="home-banner-header-item-circle-wrapper">
                  <div class="home-banner-header-item-circle" [ngStyle]="{'background': item.color}"></div>
                  <img alt="arrow" src="/assets/img/arrow.svg">
                </div>
                {{item.label | translate}}
              </div>
            }
          </div>
          <div class="home-banner-content-text">
            <div class="home-banner-content-text-title">
              {{'name' | translate}}
            </div>
            <div class="home-banner-content-text-desc">
              {{'position' | translate}}
            </div>
          </div>
          <div class="home-banner-content-footer">
            @for (item of homeBannerSocials; track item.label) {
              <a class="home-banner-content-footer-item">
                {{item.label | translate}}
              </a>
            }
          </div>
        </div>
      </div>
      <div id="about-me" class="info-section about-me scroll-section mobile-scroll-section">
        <div class="info-section-body">
          <div class="info-section-body-content">
            <div class="info-section-banner">
              <img class="banner-img" alt="banner" src="../assets/img/about_me_banner.jpg">
            </div>
            <div class="info-section-desc">
              <div class="info-section-desc-title">
                {{'sections.section_title_01' | translate}}
              </div>
              <div class="info-section-desc-text-wrapper">
                <div class="info-section-desc-text">
                  {{'sections.section_text_01_01' | translate}}
                  <br>
                  {{'sections.section_text_01_02' | translate}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="skills" class="info-section scroll-section mobile-scroll-section skills">
        <div class="info-section-body">
          <div class="info-section-body-content">
            <div class="info-section-banner">
              <img class="banner-img" alt="banner" src="../assets/img/skills_banner.jpg">
            </div>
            <div class="info-section-desc">
              <div class="info-section-desc-title">
                {{'sections.section_title_02' | translate}}
              </div>
              <div class="info-section-desc-text-wrapper">
                <div class="info-section-desc-text">
                    <ul [ngStyle]="{'margin': '0'}">
                      <li>{{'sections.section_text_02_01' | translate}}</li>
                      <li>{{'sections.section_text_02_02' | translate}}</li>
                      <li>{{'sections.section_text_02_03' | translate}}</li>
                      <li>{{'sections.section_text_02_04' | translate}}</li>
                      <li>{{'sections.section_text_02_05' | translate}}</li>
                      <li>{{'sections.section_text_02_06' | translate}}</li>
                    </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="experience" class="info-section scroll-section mobile-scroll-section experience">
        <div class="info-section-body">
          <div class="info-section-body-content" >
            <div class="info-section-banner">
              <img class="banner-img" alt="banner" src="../assets/img/education_banner.jpg">
            </div>
            <div class="info-section-desc">
              <div class="info-section-desc-title">
                {{'sections.section_title_03' | translate}}
              </div>
              <div class="info-section-desc-text-wrapper">
                <div class="info-section-desc-text">
                  {{'sections.section_text_03' | translate}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="projects" #verticalScroll>
    <app-projects></app-projects>
    <app-footer></app-footer>
  </div>





<!--<router-outlet />-->
